<footer>
  <div class="container">
    <div class="logo-group logo-group-large">
      <div class="logo nlp-tlp-logo">
        <img src="/images/logos/nlp-tlp-logo-white.png" alt=""/>
      </div>
      <div class="logo-text">
        <h3>The University of Western Australia</h3>
        <h2>Natural &amp; Technical Language Processing Group</h2>
      </div>
    </div>
    <hr/>
    <div class="footer-columns">
      <div>
        <p class="footer-heading">UWA NLP-TLP Group</p>
        <p>Computer Science and Software Engineering<br/>
        The University of Western Australia<br/>
        Perth, Western Australia</p>
      </div>
      <div>
        <p class="footer-heading">Explore</p>
        <ul class="footer-list">
          <li><a href="/research/">Research</a></li>
          <li><a href="/projects/">Projects</a></li>
          <li><a href="/people/">People</a></li>
          <li><a href="/contacts/">Contacts</a></li>
        </ul>
      </div>
      <div>
        <p class="footer-heading">Elsewhere</p>
        <ul class="footer-list">
          <li><a href="https://github.com/nlp-tlp/" target="_blank" rel="noopener">GitHub</a></li>
          <li><a href="https://www.uwa.edu.au/" target="_blank" rel="noopener">UWA</a></li>
        </ul>
      </div>
    </div>
    <p class="footer-fineprint">&copy; UWA NLP-TLP Group {% year %}.</p>
  </div>
</footer>
